<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form action="" method="post">
        <p>
	    <label for="username">Username</label>
	    <input type="text" name="username">
	</p>
	<p>
	    <label for="password">Password</label>
	    <input type="password" name="password">
	</p>
	<p>
	    <input type="submit">
		{% if empty_login == True %}
        <p>Пустой логин</p>
        {% endif %}

		{% if empty_password == True %}
        <p>Пустой пароль</p>
        {% endif %}

		{% if not_in_base == True %}
        <p>Неверный логин или пароль</p>
        {% endif %}
	</p>
    </form>

</body>
</html>
